pre code, pre, code {
  white-space: pre !important;
  overflow-x: scroll !important;
  word-break: keep-all !important;
  word-wrap: initial !important;
  
  // overflow-y: scroll !important;
  // height: 20vh !important;
  
}

body .main-container {
  overflow-x: hidden;
  max-width: 1800px;
  margin-left: 10px;
  margin-right: 10px;
}


.fire_info_wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 4fr 10px 3fr;
}

.paragraph {
  font-size: 15px;
  line-height: 20px;
}
